body {
  background-image: url('https://media.istockphoto.com/id/1419844586/vector/stem-blue-horizontal-frame-vector-education-bright-illustration.jpg?s=2048x2048&w=is&k=20&c=8AQhihe0O1CFTcnAlj-RTVawdAb8JJe7EQpjawbA7I4=');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 15%);
  max-width: 420px;
  overflow: hidden;
  padding: 25px;
  border-radius: 15px;
  gap: 10px;
}
#operators {
gap: 10px;
color: orange;
}
#numbers {
  gap: 20px;
}
#Equals {
width: 100%;
}
button {
width: 100px;
height: 100px;
border-radius: 50px;
border: none;
background-color: hsl(0, 0%, 30%);
color: white;
font-size: 3rem;
font-weight: bold;
cursor: pointer;
gap:0px;
margin-bottom: 10px;
}
#display{
  width: 100%;
  padding: 20px; 
  font-size: 5rem;
  border: none;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
.opBTN{
  background-color: hsl(35, 100%, 55%);
}
.opBTN:hover {
background-color: hsl(35, 100%, 65%);
}
